<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- TV-only app: require leanback, don't require a touchscreen. -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Package visibility (API 30+): a launcher must be able to see launchable apps. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".LuncherApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.Luncher">

        <activity
            android:name=".home.HomeActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true">

            <!-- Registers the app as a home screen (launcher). -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Also listed as a normal TV app, handy while developing. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The settings panel, floating over the home screen. No screenOrientation: Android 8.0
             refuses one on a floating activity, which shows over the landscape home screen anyway. -->
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Luncher.Settings" />

        <!-- The settings panel's list of apps to hide or show, in the panel's place. -->
        <activity
            android:name=".settings.HideAppsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Luncher.Settings.Panel" />
    </application>

</manifest>
